In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series ('a')
s1

In [ ]:
s2 = pd.Series([10,20,30,40])
s2

In [ ]:
name = pd.Series(['Emeka', 'Paul', 'Uche'], index =['E', 'P','U'])
name

In [ ]:
name2 = pd.Series ({'S': 'Sister', 'E': 'Emeka', 'U': 'Uchenna'})
name2

In [ ]:
#Defining new series object
views = pd.Series([100,500, 150, 300, 400, 1050, 1800], index = ['Sun', 'Mon','Tue','Wed','Thur', 'Fri', 'Sat'])
views

In [ ]:
#Accessing the index:

views.index

In [ ]:
views.values

In [ ]:
views.index

In [ ]:
#display the first 3 rows of data
views.head(3)

In [ ]:
views.head(n=3)

In [ ]:
#accessing the values of te last rows. Example Last 3 rows
views.tail(3)

In [ ]:
#Accessing some specific values
views['Fri']

In [ ]:
#Accessisng some specific values using numeric value of any index
views[2]

In [ ]:
#Accessing some specific values
views[['Sun','Sat']]

In [ ]:
#Accessing some specific values
views[[0,4]]

In [27]:
#Defining a new Series Object as a string

string = pd.Series([50,60,70,80,90, 100], index = ['a', 'b', 'c', 'd', 'e', 'f'])
string

a     50
b     60
c     70
d     80
e     90
f    100
dtype: int64

In [29]:
integer = pd.Series([50,60,70,80,90, 100], index = [1,2,3,4,5,6])
integer

1     50
2     60
3     70
4     80
5     90
6    100
dtype: int64

In [30]:
#Using loc accessor to display a specific index value using the key or value
string.loc[['a','c']]

a    50
c    70
dtype: int64

In [31]:
integer.loc[[3,5]]

3    70
5    90
dtype: int64

In [32]:
#Using iloc Accessor to display the values of the index using the value
integer.iloc[[3,5]]

4     80
6    100
dtype: int64

In [37]:
#Applying Arithmetic operation on a Series Object
Series1 = pd.Series ([40, 50,60,70, 80], index = ['a', 'b', 'c', 'd','e'])
Series1

a    40
b    50
c    60
d    70
e    80
dtype: int64

In [40]:
#Applying Arithmetic operation on a Series Object
Series2 = pd.Series ([10, 20,30,40, 50], index = ['a', 'b', 'c', 'd','e'])
Series2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [41]:
Series1 + Series2

a     50
b     70
c     90
d    110
e    130
dtype: int64

In [42]:
#Applying Arithmetic operation on a Series Object
Series3 = pd.Series ([10, 20,30,40, 50], index = ['a', 'b', 'b', 'd','f'])
Series3

a    10
b    20
b    30
d    40
f    50
dtype: int64

In [43]:
#Applying Arithmetic operation on a Series Object
Series4 = pd.Series ([10, 20,30,40, 50], index = ['a', 'b', 'b', 'j','k'])
Series4

a    10
b    20
b    30
j    40
k    50
dtype: int64

In [46]:
Series3 + Series4

a    20.0
b    40.0
b    50.0
b    50.0
b    60.0
d     NaN
f     NaN
j     NaN
k     NaN
dtype: float64

In [65]:
#Re-Indexing Series Object using the Reindex keyword

Series1 = pd.Series ([10, 20,30,40, 50]) #index = ['a', 'b', 'c', 'd','e'])
Series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [66]:
Series1.index = ['p', 'q', 'r', 's','t']
Series1

p    10
q    20
r    30
s    40
t    50
dtype: int64

In [68]:
Series3 = Series1.reindex (['a', 'b', 'c', 'd','e'])
Series3

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [58]:
Series3

['f', 'g', 'h', 'j', 'k']

In [83]:
#Working with index data manipulation, delete and assignment operations.
grades = pd.Series ([130, 410, 530, 605, 700, 150, 180, 220], index = ['Festus', 'James', 'Obi', 'kalu', 'Hillary', 'Joshua','Ada', 'Kelvin'])
grades

Festus     130
James      410
Obi        530
kalu       605
Hillary    700
Joshua     150
Ada        180
Kelvin     220
dtype: int64

In [84]:
#Working with index data manipulation such as assignment operations.

grades ['Kelvin'] = 1000
grades

Festus      130
James       410
Obi         530
kalu        605
Hillary     700
Joshua      150
Ada         180
Kelvin     1000
dtype: int64

In [85]:
#Working with index data manipulation such as delete operations-James Deleted.
del(grades['James'])

In [86]:
grades

Festus      130
Obi         530
kalu        605
Hillary     700
Joshua      150
Ada         180
Kelvin     1000
dtype: int64

In [88]:
#Slicing the data
grades [0:5:1] # starting with n=0 and ending with n-1 which is 3-1

Festus     130
Obi        530
kalu       605
Hillary    700
Joshua     150
dtype: int64

In [89]:
grades [0:7:2]

Festus     130
kalu       605
Joshua     150
Kelvin    1000
dtype: int64

In [90]:
grades [0:5]

Festus     130
Obi        530
kalu       605
Hillary    700
Joshua     150
dtype: int64